<html>
    <body>
        <table>
            <tbody>
                <tr><b>Hello,</b></tr>

                <tr></tr>
                <tr>You have been invited to try out Tech Tapir.</tr>
                <tr>Please use the link below to create your account</tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ config.CLIENT_URL }}/auth/register?token={{ invite.token }}">
                            {{ config.CLIENT_URL }}/auth/register?token={{ invite.token }}
                        </a>
                    </td>
                    <td></td>
                </tr>

                <tr>Regards,</tr>

                <tr>Dallan Bhatti</tr>
                <tr>Tech Tapir Support</tr>
            </tbody>
        </table>
    </body>
</html>
