<html>
    <body>
        <table>
            <tbody>
                <tr><b>Hello,</b></tr>

                <tr></tr>
                <tr>You have been invited to try out Tech Tapir.</tr>
                <tr>Please use the link below to create your account</tr>
                <tr></tr>
                <tr>
                    <a href="https://local.techtapir.com:3000/register/?token={{ invite.token }}">
                    https://local.techtapir.com:3000/register/?token={{ invite.token }}
                    </a>
                </tr>

                <tr>Regards,</tr>

                <tr>Dallan Bhatti</tr>
                <tr>Tech Tapir Support</tr>
            </tbody>
        </table>
    </body>
</html>
