<html>
    <body>
        <table>
            <tbody>
                <tr><b>Hello,</b></tr>

                <tr></tr>
                <tr>Thank you for creating an account with Tech Tapir.</tr>
                <tr>Please use the link below to confirm your email address</tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="https://local.techtapir.com:3000/auth/verify?token={{ verify.token }}">
                        https://local.techtapir.com:3000/auth/verify?token={{ verify.token }}
                        </a>
                    </td>
                    <td></td>
                </tr>

                <tr>Regards,</tr>

                <tr>Dallan Bhatti</tr>
                <tr>Tech Tapir Support</tr>
            </tbody>
        </table>
    </body>
</html>
